postgrest:
  api:
    schema: public
    anonymous: anonymous
    authorize: authorize
  database:
    username: authenticate
    password: authenticate
    database: workshop
  role:
    claim:
      key: ".resource_access.postgrest.roles[?(@ == \"authorize\")]"
  authorization:
    tables:
      - schema: public
        table: examples
        view: anonymous
        edit: authorize

keycloak:
  realm: pelotech
  enabled: true
  roles:
    client:
      postgrest:
        - name: authorize
          clientRole: true
  groups:
    - name: API
      clientRoles:
        postgrest:
          - authorize
  clients:
    - clientId: postgrest
      enabled: true
      protocol: openid-connect
      publicClient: true
      directAccessGrantsEnabled: true
      protocolMappers:
        - name: postgrest
          protocol: openid-connect
          protocolMapper: oidc-usermodel-attribute-mapper
          config:
            'user.attribute': userid
            'access.token.claim': true
            'claim.name': user

  users:
    - username: test.user
      firstName: Test
      lastName: User
      email: test.user@example.com
      enabled: true
      groups:
        - /API
      attributes:
        userid:
          - 6949db90eb8be7b539ba7cdb # generated example
      credentials:
        - type: password
          secretData: "{\"value\":\"jSSOuhvXTAJdg1CexX7mv33fjyX0zJ36jnJ66iqyRaM=\",\"salt\":\"qvXhSfWYHU7FeT1RAAM24A==\",\"additionalParameters\":{}}"
          credentialData: "{\"hashIterations\":27500,\"algorithm\":\"pbkdf2-sha256\",\"additionalParameters\":{}}"

cluster:
  type: postgresql
  mode: standalone
  cluster:
    instances: 3
    storage:
      size: 1Gi
    roles:
      - name: goose
        ensure: present
        login: true
        superuser: true
        passwordSecret:
          name: goose-credentials
      - name: anonymous
        ensure: present
        login: false
      - name: authorize
        ensure: present
        login: false
      - name: authenticate
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: authenticate-credentials
        inRoles:
          - anonymous
          - authorize
  databases:
    - name: workshop
      owner: goose
      schemas:
        - name: public
          owner: goose
          ensure: present

minio:
  replicas: 3
  persistence:
    size: 1Gi
  resources:
    requests:
      memory: 1Gi
  buckets:
    - name: backups

goose:
  username: goose
  password: goose
  database: workshop
