cluster:
  type: postgresql
  mode: standalone
  cluster:
    instances: 3
    storage:
      size: 1Gi
    roles:
      - name: pelotech
        ensure: present
        login: true
        superuser: true
        passwordSecret:
          name: permissions

      - name: anonymous
        ensure: present
        login: false

      - name: authorize
        ensure: present
        login: false

      - name: postgrest
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: application
        inRoles:
          - anonymous
          - authorize

  databases:
    - name: postgrest
      owner: pelotech
      schemas:
        - name: postgrest
          owner: pelotech
          ensure: present
        - name: public
          owner: pelotech
          ensure: present

minio:
  replicas: 3
  persistence:
    size: 1Gi
  resources:
    requests:
      memory: 1Gi
  buckets:
    - name: backups
