application:
  schema: postgrest    # schema to expose via PostgREST api
  anonymous: anonymous # PSQL role to grant anonymous api usage
  authorize: authorize # PSQL role to grant authenticated api usage
  openid:
    claim:
      selector: ".resource_access.postgrest.roles[?(@ == \"authorize\")]"
    certs:
      location: keycloak:8080/realms/demo/protocol/openid-connect/certs
  # TODO: https://github.com/pelotech/database/pull/1#discussion_r2644007110
  # make this three security tiers
  #   (1) `anonymous` where no JWT required
  #   (2) `authenticated` where a JWT is required
  #   (3) `authorized` where JWT claim matches RLS policy
  protected:
    - examples

database:
  application:
    username: postgrest   # application username for PSQL connection
    password: postgrest   # application password for PSQL connection
    database: postgrest   # application database for PSQL connection
    hostname: cluster-rw  # application hostname for PSQL connection

  permissions:
    username: pelotech    # superuser username for PSQL connection
    password: pelotech    # superuser password for PSQL connection
    database: postgrest   # superuser database for PSQL connection
    hostname: cluster-rw  # superuser hostname for PSQL connection
