credentials:
  pelotech:
    username: pelotech
    password: pelotech
  postgrest:
    username: postgrest
    password: postgrest

cluster:
  type: postgresql
  mode: standalone
  cluster:
    instances: 3
    storage:
      size: 1Gi
    roles:
      - name: pelotech
        ensure: present
        login: true
        superuser: true
        passwordSecret:
          name: pelotech

      - name: anon
        ensure: present
        login: false

      - name: view
        ensure: present
        login: false

      - name: edit
        ensure: present
        login: false

      - name: postgrest
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: postgrest
        inRoles:
          - anon
          - view
          - edit

  databases:
    - name: demo
      owner: pelotech
      schemas:
        - name: public
          owner: pelotech
          ensure: present
      postInitApplicationSQL:
        - GRANT USAGE ON SCHEMA public TO postgrest;
