apiVersion: v1
kind: Secret
metadata:
  name: authentication
data:
  jwt.secret: {{ .Values.application.jwt.secret | b64enc | quote }}
  jwk.public: {{ .Values.application.jwk.public | b64enc | quote }}

---

apiVersion: v1
kind: Secret
type: kubebernetes.io/basic-auth
metadata:
  name: migrations
  labels:
    cnpg.io/reload: "true"
data:
  username: {{ .Values.database.migrations.username | b64enc | quote }}
  password: {{ .Values.database.migrations.password | b64enc | quote }}
  hostname: {{ .Values.database.migrations.hostname | b64enc | quote }}
  connection: {{ include "database.migrations" . | b64enc | quote }}

---

apiVersion: v1
kind: Secret
type: kubebernetes.io/basic-auth
metadata:
  name: connection
  labels:
    cnpg.io/reload: "true"
data:
  username: {{ .Values.database.connection.username | b64enc | quote }}
  password: {{ .Values.database.connection.password | b64enc | quote }}
  hostname: {{ .Values.database.connection.hostname | b64enc | quote }}
  connection: {{ include "database.connection" . | b64enc | quote }}
