apiVersion: v1
kind: Secret
type: kubebernetes.io/basic-auth
metadata:
  name: application
data:
  username: {{ .Values.database.application.username | b64enc | quote }}
  password: {{ .Values.database.application.password | b64enc | quote }}
  connection: {{ include "postgrest.application.connection" . | b64enc | quote }}

---

apiVersion: v1
kind: Secret
type: kubebernetes.io/basic-auth
metadata:
  name: permissions
data:
  username: {{ .Values.database.permissions.username | b64enc | quote }}
  password: {{ .Values.database.permissions.password | b64enc | quote }}
  connection: {{ include "postgrest.permissions.connection" . | b64enc | quote }}
