name: helm-publish
on:
  push:
    branches:
      - main

jobs:
  helm-publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
          name: postgrest
          repository: pelotech/database
          tag: 0.2.1
          registry: ghcr.io
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          update_dependencies: 'true'
